.botaoConcluir {
    width: 6rem;
    height: 2rem;
    border: 0;
    border-radius: 5px;
    font-size: .9rem;
    color: #8d0606;
    font-weight: 600;
    cursor: pointer;
}


.tarefas__itens.jsBtnConcluir .botaoConcluir{
    background-color: #8d0606;
    color: aliceblue;
 }

 .tarefas__itens.jsBtnConcluir p{
    text-decoration: line-through;
    color: grey;
 }
