.botaoDeletar {
    width: 6rem;
    height: 2rem;
    border: 0;
    border-radius: 5px;
    font-size: .9rem;
    color: #8d0606;
    font-weight: 600;
    cursor: pointer;
    background: rgb(243, 236, 227);
}

.botaoDeletar:hover {
    box-shadow: 0px 0px 1px 2px rgba(133, 131, 131, 0.178) ;
}

 @media screen and (min-width:0px) and (max-width: 767px) {
   .botaoDeletar {
        width: 3rem;
        height: 2rem;
        border: 0;
        border-radius: 5px;
        font-size: .7rem;
        color: #8d0606;
        font-weight: 600;
        cursor: pointer;
        background: rgb(243, 236, 227);
    }

}