.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(243, 236, 227);
}

.cabecalho__imagem{
    width: 60px;
}

.titulo {
    font-family:'Dancing Script', cursive;
    font-weight: 700;
    color: #8d0606;
    margin: 0;
    font-size: 3rem;
}

.principal {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 80px);
}

.form__itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    margin-top: 15rem;
    margin-left: 8rem;
}

.areadetexto {
    width: 25rem;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid rgba(150, 150, 150, 0.637);   
}

.areadetexto::placeholder {
    color: #8d0606a4;
    text-align: center;
}

.areadetexto:focus::placeholder {
    color:white;
}


.areadetexto:focus{
    color: #8d0606;
    border: 1px solid rgba(150, 150, 150, 0.637);
    outline: 0;
    text-align: center;
}

.botao__criartarefa {
    height: 2rem;
    width: 15rem;
    border: none;
    border-radius: 5px;
    background: #8d0606;
    color:white;
    font-weight: 600;
    transition: .5s;
}

.botao__criartarefa:hover{
    cursor: pointer;
    background-color: #c40606;
}
.container_list{
   width: 50%;
   border-left: 1px solid #8d060649; 
}

.titulo__tarefas {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 3rem;
    color: #8d0606;
    font-size: 3.5rem;
}

.tarefas__itens {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 1rem;   
}

.tarefas__itens {
    color: #8d0606;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.tarefas__itens {
    
}
