.corp{
    display: flex;
    justify-content: space-around;
}

.form__itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    margin-top: 50%;
}

.areadetexto {
    width: 50vh;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid rgba(150, 150, 150, 0.637);   
}

.areadetexto::placeholder {
    color: #8d0606a4;
    text-align: center;
}

.areadetexto:focus::placeholder {
    color:white;
}


.areadetexto:focus{
    color: #8d0606;
    border: 1px solid rgba(150, 150, 150, 0.637);
    outline: 0;
    text-align: center;
}


 @media screen and (min-width:0px) {
    .corp {
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

}


